{
  http_port 8080
  auto_https disable_redirects
}

https://blackphoenix.online, https://www.blackphoenix.online, https://118.31.16.246.nip.io {
  encode gzip zstd

  handle /auth/* {
    reverse_proxy 127.0.0.1:8090
  }

  handle /connection/* {
    reverse_proxy 127.0.0.1:8000
  }

  handle /admin* {
    reverse_proxy 127.0.0.1:8000
  }

  handle {
    root * /srv/web
    file_server
  }
}
